.hero {
  background-image: url(../../images/hero-image.jpg);
  background-size: cover;
  min-height: 100vh;
  position: relative;
}

.hero::before {
  background-color: black;
  opacity: 0.5;
  content:"";
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
}

.hero__content {
  font-size: xx-large;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero__content__title {
  position: relative;
  align-items: center;
  color: white;
}
