header {
  position: relative;
  display: flex;
  justify-content: right;
}

header nav {
  display: flex;
  align-items: center;
  justify-content: right;
  margin-top: 10px;
  margin-right: 20px;
  width: 500px;
  height: 50px;
}

header a {
  padding: 5px;
  border: 1px solid white;
  border-radius: 10px;
  margin: 5px;
  color: white;
  text-decoration: none;
}

header a:hover {
  border-color: black;
  background-color: orange;
  color: black;
}

.hero {
  background-image: url(../../images/hero-image.jpg);
  background-size: cover;
  min-height: 100vh;
  position: relative;
  z-index: 0;
}

.hero::before {
  background-color: #000;
  opacity: 0.5;
  content: "";
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.hero__content {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero__title {
  font-size: 90px;
  color: white;
  text-align: center;
}

.hero__links {
  display: flex;
  justify-content: space-between;
  color: white;
}

.hero__links a {
  color: white;
  text-decoration: none;
  transition: 0.4s;
  font-size: 20px;
}

.hero__links a:hover {
  text-decoration: underline;
  color: rgb(247, 187, 76);
}
